# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class

# --- ENTORNOS VIRTUALES (¡OBLIGATORIO!) ---
venv/
env/
.venv/

# --- BASE DE DATOS 
# No queremos subir usuarios reales ni contraseñas de la DB
*.db
*.sqlite3
instance/

# --- ARCHIVOS GENERADOS (DATA SCIENCE) ---

*.json
!package.json
# (El !package.json es por si algún día usas Node, para no ignorar ese)

# --- CARPETAS DE DATOS ---
# Si descargas muchos CSV o datos pesados, mejor ignora la carpeta
data/
logs/

#CONFIGURACIÓN Y SECRETOS
.env
# OJO: Si tienes claves reales en src/config.py, considera ignorarlo también
# src/config.py 

# --- IDE Y SISTEMA OPERATIVO ---
.vscode/
.idea/
.DS_Store
Thumbs.db

*.whl